
.sidebarIcon {
    font-size: 2rem;
}
.nav-link:hover {
    background-color: #f6c500b8;
}
.nav-link i, .nav-link p {
    color: black;
    font-size: 120%;
}
.sidebarColumn {
    width: 4.5rem;
    margin-top: 2rem;
}
.navActive .icon {
    background-color: #f6c50068;
    border-radius: 8px;
    width: 80%;
    margin-left: 10%;
}
.sidebar .nav-item {
    padding: 0;
}
.sidebar .nav-link {
    padding: 0px;
}
.promo-card {
    background-color: #f6c50068;
    border-radius: 8px;
}
.promo-card:hover {
    background-color: #f6c500b8;
    cursor: pointer;
}
button:hover {
    background-color: #f6c500b8;
}
.mt-center {
    margin-top: 15rem;
}
h1 {
    font-size: 3.5rem;
}
footer a {
    border-radius: 8px;
}

/*Documents and transcript*/
.promo-card-upload {
    background-color: #f6c50068;
    border-radius: 8px;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
}
.promo-card-upload:hover {
    background-color: #f6c500b8;
    cursor: pointer;
}

.card-list-files {
    background-color: #f6c50068;
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
}

.table-card {
    background-color: #f6c50068;
    border-radius: 8px;
}

#uploadCard.drag-over {
    background-color: lightblue !important;
    border-color: blue !important;
}

.range-label {

}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    background-color: #f6c500b8;
}

.slider::-webkit-slider-thumb:hover, input[type="range"]::-moz-range-thumb:hover {
    background: #f6c500b8; /* Darker blue on hover */
}

.btn-primary {
    color: black !important;
    background-color: #f6c50068!important;
    border-color: black !important;
}

.go-back-arrow:hover {
    cursor: pointer;
}